@import '../../style/_var.scss';

.blog-page {
  padding: 0 $pad ;
  .blog-container {
    width: 100%;
    .blog-post-item {
      margin-top: $pad;
      margin-bottom: 1em;
      img {
        width: 100%;
        height: calc(100vw - 1em);
        background: $dye_light;
      }
      h2 {
        margin-top: $pad;
        background: $dye_black;
        padding: $pad;
        color: $dye_white;
      }
      p {
        margin-top: $pad;
        height: 3em;
      }
      a {
        margin-top: $pad;
      }
    }
  }
}


@include tablet_styles {
  .blog-page {
    .blog-post-item {
      width: calc(50% - .25em);
      float: left;
      &:nth-child(even) {margin-left: $pad;}
      img {
      }
    } 

    .blog-container {
      width: 100%;

      .blog-post-item {
        img {
          height: calc(50vw - .75em);
        }
      }
    }
  }
}


@include desktop_styles {
  .blog-page {
    padding: 0 ;
    .blog-post-item {
      width: calc((100% / 3) - (1em / 3));
      float: left;
      &:nth-child(even) {margin-left: 0;}
      &:nth-child(3n + 2) {margin-left: $pad;}
      &:nth-child(3n + 3) {margin-left: $pad;}

      img {
        height: calc((980px / 3) - (1em / 3)) !important;
      }

    } 
  }
}
