@import '../../style/_var.scss';

.blog-page {
  padding: 0 $pad ;
  .blog-container {
    width: 100%;
    .blog-post-item {
      margin-top: $pad;
      margin-bottom: 1em;
      img {
        width: 100%;
        background: $dye_light;
      }
      h2 {
        margin-top: $pad;
        background: $dye_black;
        padding: $pad;
        color: $dye_white;
      }
      p {
        margin-top: $pad;
        height: 3em;
      }
      a {
        margin-top: $pad;
      }
    }
  }
}


@include tablet_styles {
  .blog-page {
    .blog-post-item {
      width: calc(50% - .25em);
      float: left;
      &:nth-child(even) {margin-left: $pad;}
    } 

    .blog-container {
      width: 100%;

      .blog-post:nth-child(even) {
        img {
          background: $dye_medium !important;
          float: left;
          margin-left: $pad;
        }
        
        h2, p {
          float: right;
          margin: 0;
          background: $dye_lightish;
          margin-right: $pad;
        }

        p {
          margin-top: $pad;
        }
      }

      .blog-post {
        width: 100%;
        height: 250px;
        margin-top: $pad; 

        h2, p {
          margin-left: $pad;
        }

        h2 {
          float: left;
          width: 60%;
          height: 3em;
          background: $dye_black;
        }

        img {
          float: right;
          margin-right: $pad;
          height: calc(100% - 1em); // MAGIC
          background: $dye_lightish;
          width: calc(40% - 1.5em);
          border: none;
        }

        p {
          top: 4em;
          float: left;
          margin-top: $pad;
          width: 60%;
          height: calc(250px - 4.5em);
          background: $dye_dark;
        }
      }

    }

  }
}


@include desktop_styles {
  .blog-page {
    padding: 0 ;
    .blog-post-item {
      width: calc((100% / 3) - (1em / 3));
      float: left;
      &:nth-child(even) {margin-left: 0;}
      &:nth-child(3n + 2) {margin-left: $pad;}
      &:nth-child(3n + 3) {margin-left: $pad;}
    } 
  }
}
