body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
}


.egg {
  width: 100%;
  height: 100%;

  .computer {
    position: relative;
    margin: 0 auto;
    margin-top: 32px;
    width: 640px;
    height: 512px;
    padding: 32px;
    background: white;
    background: url('../../images/egg-computer-icon.png');
    border-radius: 25px 25px 0px 0px;

    .power-switch {
      input {
        display: none;
      }

      label {
        box-shadow: 4px 4px #000;
        position: absolute;
        bottom: 50px;
        right: 21px;
        width: 61px;
        height: 81px;
        z-index: 101;
      }

      div {
        border: none;
        position: absolute;
        bottom: 38px;
        right: 15px;
        width: 119px;
        height: 118px;
        background: url('../../images/egg-computer-power-off-icon.png');
        z-index: 100;
      }

    }

    .power-switch label:hover~ div {
      background: url('../../images/egg-computer-power-hover-icon.png');
    }
    .power-switch input:checked ~ div {
      background: url('../../images/egg-computer-power-on-icon.png');
    }

    
  }

  .screen {
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    background: green;
    background: black;
    width: 512px;
    margin: 0 auto;
    z-index: 1000;
    box-shadow: inset 0px 0px 20px #000;
    height: 294px;
    


    canvas {
      float: left;
      background: white;
      width: 512px;
      height: 256px;
      margin: 0 auto;
    }

    nav {
      float: left;
      width: 512px;
      height: 39px;
      background: #aaa;
      margin: 0 auto;
      border-top: 2px solid #fff;
      button {
        width: 32px;
        height: 34px;
        background: url('../../images/egg-menu-icon.png');
        background-repeat: no-repeat;
        background-size: 32px 32px;
        margin-left: 4px;
        margin-top: 2px;

        &:hover {
          background: url('../../images/egg-menu-hover-icon.png');
          background-size: 32px 32px;
        }

        &:active {
          background: url('../../images/egg-menu-click-icon.png');
          background-size: 32px 32px;
        }

        
      }
    }
  }


}
