@import '../../style/_include.scss';

.contact-page {
  padding: 1rem;
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: calc(100vw - 2rem);
    margin-bottom: 1rem;
  }

  .info {
    h2 {
      color: $shade_light;
      background: $shade_black;
      padding: .5rem;
      @include font_size(2.5rem); 
      text-align: right;
    }
    h3 {
      text-align: right;
      @include font_size(2rem);
    } 
    p, a {
      padding: .5rem;
      text-align: right;
      width: 100%;
      @include font_size(1.5rem);
    }

    a {
      text-decoration: underline;
    }
  }
}

@include tablet_styles {
  .contact-page {
    clear: both;

    img {
      width: 45vw;
      height: calc(50vw);
      float: left;
    }

    .info {
      width: 50vw;
      float: left;
    }
  }
}

@include desktop_styles {
  .contact-page {
    padding: 0;
    padding-top: .5rem;
    width: 100%;
    img {
      width: calc((980px * .5));
      height: calc((980px * .5));
      float: left;
    }

    .info {
      width: calc((980px * .5));
      float: right;
    }
  }
}
