@import '../../style/_var.scss';

.contact-page {
  img {
    width: 60%;
    height: 60vw;
    margin: 0 auto;
    margin-top: $pad;
    background: red;
  }

  .info {
    padding: .5em;
    background: white ;
  }

  h2, h3, p, a{
    margin-left: 1em;
    text-align: center;
  }

  h2, h3 {
    margin-top: $pad;
  }
}

@media screen and (min-width: $break_tablet){
  .contact-page {
    position: relative;
    padding-top: $pad;
    img {
      width: 50%;
      height: 50vw;
      transform: translateX(5em);
    }

    .info {
      position: absolute;
      left: 2em;
      top: 80px;
      //background: yellow;
      float: left;
      h2, h3, p, a {
        text-align: right;
      }
    }
  }
}

@include desktop_styles {
  .contact-page {
    img {
      width: calc(980px /2);
      height: calc(980px /2);
    }
  }
}
