.contact {
  padding-top: 1em;
  h1, main, div {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
  }

  a {
    display: inline-block;
    color: #ff5a5a;
  }
}

@media screen and (min-width: 500px){
  .contact {
    img {
      float: left;
      width: 50%;
    }
    main {
      float: right;
      width: 50%;
      padding: 1em;
    }
  }
}

