@import '../../style/_reset.scss';
@import '../../style/_include.scss';

.site-content {
  width: 100%;
  z-index: -500;
}

@include tablet_styles {
}

@include  desktop_styles {
  .site-content {
    width: $break_desktop;
    margin: 0 auto;
  }
}


