@import '../../style/_var.scss';

// reset
.site-content {
  width: 100%;
  z-index: -500;
}

@media screen and (min-width: $break_tablet){
}

@media screen and (min-width: $break_desktop){
  .site-content {
    width: $break_desktop;
    margin: 0 auto;
  }
}


