@import '../../style/_include.scss';

.project-page {
  padding-top: $pad;
  .project-container {
    padding-left: $pad;
    padding-right: $pad;
    width: 100%;
    .project-item {
      background: black;
      border-top: $pad solid $shade_black;

      a {
        text-decoration: underline;
      }

      h2, p, a {
        padding: $pad;
        line-height: 2rem;
        color: $shade_white;
        background: $shade_black;
      }

      h2 {
        border-left: 0.5rem solid $shade_black;
        border-right: 0.5rem solid $shade_black;
        background: $shade_white;
        color: $shade_black;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: right;
        padding-right: 1.5rem;
      }

      p {
        height: 6rem;
      }

      a {
        display: inline-block;
      }

      img {
        width: 100%; 
        height: calc(50vw - 1.5rem) ;
        transform: translateY(4px);
      }
    } 
  }
}

@include tablet_styles {
  .project-page {
    .project-container {
      .project-item {
        width: calc(50% - .25rem);
        float: left;
        &:nth-child(even){
          margin-left: $pad;
        }
        img {
          height: calc(25vw - .25rem);
        }
      }
    }
  }
}

@include desktop_styles {
  .project-page {
    .project-container {
      padding: 0;
      .project-item {
        width: calc((100% / 3) - (1rem / 3));
        float: left;
        &:nth-child(even) {margin-left: 0;}
        &:nth-child(3n + 2){ margin-left: $pad; }
        &:nth-child(3n + 3){ margin-left: $pad; }
        img {
          height: calc((980px / 6) - (1rem / 6));
        }
      }
    }
  }
}
