@import '../style/_include.scss';

.landing { 
  padding: .5rem;

  .for-the-lulz, .head, .needy-for-speedy, 
  .tune, .art {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .for-the-lulz { margin-top: 0; }

  .blog-feature  {
    h2, p, a {
      margin-bottom: .5rem;
    }

    h2 {
      color: $shade_white;
      background: $shade_black;
      @include font-size(2.5rem);
      padding: .5rem;
    }

    p {
      @include font_size(2rem);
      text-align: right;
      display: inline;
      background: $dye_light;
      line-height: 3rem;
    }
    
    a {
      margin-top: .5rem;
      @include button;
    }
  }

  .needy-for-speedy {
    h2, a {
      text-align: right;
    }

    p {
      text-align: left;
        background: $dye_lightish;
    }
  }

  .crucial-vim-plugins {
    p { 
      background: $dye_medium;
    }
  }

  .head {
    img {
      width: 100%;
    }
  }

  .tune {
    background: url('../asset/image/landing/original/chain.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    padding: 3rem 2rem 2rem 2rem;
    .audio-container {
      background: $shade_white;
      border: 2px solid $shade_black;
      padding: 1rem ;
    }

    a {
      @include button;
      display: inline-block;
      margin-top: 2rem;
      text-align: right;
    }

  }

  .art {
    a {
      @include button;
      float: right;
      display: inline-block;
    }

    .image-container {
      img {
        width: 100%;
        margin-bottom: .5rem;
      }
    }
  }
}

@include tablet_styles {
  .landing {
    .blog-feature {
      h2, a  {
        display: inline-block;
      }

      p {
        margin: 0 2rem;
        padding: 0 1rem;
      }
    }
    
    .art {
      .image-container {
        img {
          width: calc(50% - .25rem);
          &:nth-child(even){
            margin-left: .5rem
          }
        }
      }
    }
  }
}

@include desktop_styles {
  .landing { 
    padding:3rem 0;
  }
}
