@import '../style/_var.scss';

// TODO make wide screen look lit 

.landing {
  margin-top: $pad;
  .bio {
    position: relative;
    //width: 200%;
    //margin-left: -50%;
    height: 500px;
    background: $dye_lightish;
    background: url('../asset/image/landing/colors.png' ) center ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
      display: inline-block;
      color: $dye_light;
      background: $dye_black;
      padding: 2em;
      font-size: 300%;
      min-width: 500px;
      width: 70%;
      margin-top: 5%;
      margin-left: 5%;
    }

    button {
      position: absolute;
      padding: 0.25em;
      bottom: 3em;
      right: $pad;
      background: $dye_light;
      color: $dye_black;
      font-size: 2em;
      border-bottom: $pad solid white;
      transform: skew(4deg) rotate(5deg);

      &:hover { background: $dye_lightish; }
      &:active{ background: $dye_darkish; }
    }
}

  .feature-container {
    margin-top: $pad;
    width: 100%;

    .feature {
      height: 250px;
    }

    .feature-a {
      background: $dye_light;
    }
    
    .feature-b {
      margin-top: $pad;
      background: $dye_light * .8;
    }
  }

  .head{
    width: 100%;
    height: 250px;
    background: $dye-light * .5;
    margin-top: $pad;
    background: url('../asset/image/landing/streach-head.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .tune {
    position: relative;
    padding-left: 3em;
    padding-right: 3em;
    //width: 200%;
    //margin-left: -50%;
    height: 250px;
    background: $dye-light * .5;
    //transform: translateX(-50%);
    margin-top: $pad;
    background: url('../asset/image/landing/chain.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;;
    //background-repeat: no-repeat;

    .player-container {
      position: absolute;
      background: $dye_white;   
      border: 2px solid $dye_black;
      padding: $pad;
      width: calc(100% - 6em); //MAGIC
      top: 50%;
      transform: translateY(-50%);
    }

    //background-size: cover;
  }

  .art-container {
    margin-top: $pad;
    width: 100%;
    .art {
      height: 100vw;
    }

    .art-b, .art-c, .art-d {
      margin-top: $pad;
    }

    .art-a {
      background: $dye_lightish;
    }

    .art-b {
      background: $dye_light * .8;
    }

    .art-c {
      background: $dye_lightish * .8;
    }

    .art-d {
      background: $dye_lightish;
    }
  }
}

@include tablet_styles {
  .landing {
    .bio {
      button {
        bottom: 1em;
        right: 1em;

      }
    }
    .feature-container {
      width: 100%;
      height: 250px;

      .feature {
        float: left;
        width: calc(60% - .5em); // MAGIC
        height: 250px;
      }

      .feature-b {
        margin: 0;
        margin-left: $pad;
        width: 40%;
      }
    }

    .art-container {
      width: 100%;
      height: 100vw;
      .art {
        width: calc(50vw - .25em); // MAGIC
        height: calc(50vw - .25em); // MAGIC 
        float: left;
        margin: 0;
      }

      .art-b, .art-d {
        margin-left: $pad;
      }

      .art-c, .art-d {
        margin-top: $pad;
      }
    }
  }
}

@include desktop_styles {
  .landing {
    .art-container {
      height: 980px;
      .art {
        height: calc(980px / 2 - .25em); // MAGIC
        width: calc(980px / 2 - .25em); // MAGIC
        float: left;
      } 
    }
  }
}
