.site-header {
  display: block;
  background: #f4ff00;
  width: 100%;
  height: 60px;

  main {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    width: 100%; 
    height: 100%;
  }

  .site-logo {
    float: left;
    display: block;
    height: 100%;
    width: 70%;
    padding-left: .5em;

    .site-logo-image {
      float: left;
      display: block;
      padding: 0 ;
      margin: 0;
      height: 50px;
      margin-top: 5px;
      transition: 500ms;
      border-radius: 50%;

      &:hover {
        transform: rotate(360deg);
      }
    }

    .site-title {
      display: block;
      float: left;
      margin-top: 12px;
      margin-left: .5em;

      span, a {
        font-size: 2rem;
        font-family: monospace;
        transition: 100ms;
        text-decoration: none;
        cursor: default;
      }

      &:hover {
        span:nth-child(3n+1){
          transform: rotate(-90deg) translate(-10px, 10px);
          transition: 170ms;
        }
        span:nth-child(4n - 2){
          transform: rotate(180deg) translate(10px, -10px);
;
          transition: 190ms;
          color: grey;
        }
        span:nth-child(7n - 2){
          transform: rotate(-100deg);
          transition: 300ms;
        }
        span:nth-child(5n-2){
          transform: rotate(15deg) translate(-1px, -1px);
          transition: 500ms;
          color: darkgrey;
        }
        span:nth-child(5n-4){
          transform: rotate(155deg) translate(10px, -10px);
;
          transition: 120ms;
          color: darkgrey;
        }
      }
    }
  }

  .site-nav {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;

    ul.hide {
      z-index: -100;
      top: -150px;
      transform: translateX(-10px);
    }

    ul {
      position: absolute;
      z-index: 1;
      top: 60px;
      right: 0;
      width: 150px;
      margin: 0;
      transition: 200ms;

      li:nth-child(1) a {
        background: #f4ff00 * .9;
      }
      li:nth-child(2) a {
        background: #f4ff00 *.8;
        transform: translateX(-10px);
      }
      li:nth-child(3) a {
        background: #f4ff00 *.7;
        transform: translateX(-20px);
      }
      li:nth-child(4) a {
        background: #f4ff00 *.6;
        transform: translateX(-10px);
      }
      li:nth-child(5) a {
        background: #f4ff00 *.5;
      }
      
      li:nth-child(6) a {
        background: #f4ff00 *.4;
        transform: translateX(-10px);
      }
      li a {
        text-align: right;
        font-size: 1.25em;
        padding: 6px;
        text-decoration: none;
        transition: 200ms;

        &:hover,&:focus {
          background: #f4ff00 *.4;
          transform: translateX(-12px);
        }
      }
    }

    .hamburger {
      position: relative;
      float: right;
      width: 60px;
      height: 60px;
      padding: 12px;
      background: none;

      .button {
        width: 100%;
        height: 100%;
        transition: 200ms;
        padding-top: 3.5px;
        background: none;
        &:focus {
          div {
            background: grey;
          }
        }
        div {
          display: block;
          float: left;
          width: 36px;
          height: 6px;
          margin-bottom: 5px;
          background: black;
        }
      }
    }

    .hamburger.selected {
      .button {
        transform: rotate(90deg) !important;
      }
    }
  }
}
