@import './_var.scss';
@import './_mixins.scss';

@mixin base {
  @include normal_inline;
  @include normal_heading;
  @include normal_lists;
  @include normal_code;

  * {
    line-height: 1.5rem;
    color: $shade_dark;
  }

  h1, h2, h3, h4, h5, h6, a, strong  {
    color: $shade_black;
  }

  p, pre, ul, ol {
    margin-bottom: $pad;
  }

  strong {
    font-weight: bold;
  }

  em, i {
    font-style: italic;
  }

  del, s {
    color: $shade_medium;
  }

  blockquote {
    border-left: .5rem solid $shade_lightish;
    padding-left: .5rem;
  }

  a {
    text-decoration: underline
  }

  input {
    width: 100%;
    background: $shade_white;
    padding: $pad;
    border: 2px solid $shade_lightish;
  }
}
