@import './_var.scss';

@mixin normal_inline {
	a, abbr, acronym, audio, b, bdi, bdo, big,
	br, button, canvas, cite, code, data, datalist, del,
	dfn, em, embed, i, iframe, img, input, ins, kbd,
	label, map, mark, meter, noscript, object, output, picture,
	progress, q, ruby, s, samp, script, select, slot,
	small, span, strong, sub, sup, svg, template, textarea, time,
	u, tt, var, video, wbr { 
		display: inline;
	}
}

@mixin normal_heading {
  h1, h2, h3, h4, h5 {
    margin: 1.75rem 0 1rem;
    font-weight: bold;
    color: $shade_black;
  }

  h1, h2 {
    border-bottom: 2px solid $shade_lightish;
    padding-left: $pad;
  }

  h1 {
    margin-top: 0;
    font-size: 1.383rem;
  }

  h2 {font-size: 1.296rem;}

  h3 {font-size: 1.215rem;}

  h4 {font-size: 1.138rem;}

  h5 {font-size: 1.067rem;}

}

@mixin normal_lists {
  li {
    display: list-item;
  }

  ul, ol {
    margin-left: 1rem;
    margin-bottom: $pad;
    padding-left: $pad;
    list-style-type: unset;
  }

  ul {
    list-style: disc;
    ul {
      list-style: circle;
      ul { list-style: square; }
      ol { list-style: decimal; }
    }

    ol {
      list-style: decimal;
      ul { list-style: disc; }
      ol { list-style: decimal }
    }
  }
  
  ol {
    list-style: decimal;
    ol {
      list-style: lower-roman;
      ol { list-style: lower-latin; }
      ul { list-style: disc; }
    }

    ul {
      list-style: disc;
      ol { list-style: decimal; }
      ul { list-style: circle; }
    }
  }
}

@mixin normal_code {
  pre, code {
    font-family: $mono_font;
    background: $shade_light;
  }

  pre {
    padding: $pad;
    tab-size: 4;
    overflow-X: scroll;
  }

  code { 
    padding: 0.2rem;
    font-size: .85rem;
  }
}

@mixin button {
  display: block;
  padding: $pad;
  color: $shade_black;
  background: $shade_white;
  border: 2px solid $shade_black;
  &:hover { background: $shade_lightish; }
  &:active{ background: $shade_medium; }
}

// longterm TODO make a full width site :p
@mixin tablet_styles {
  @media screen and (min-width: $break_tablet){
    @content
  }
}

@mixin desktop_styles {
  @media screen and (min-width: $break_desktop){
    @content
  }
}

@mixin font_size($size){
  font-size: $size;
  line-height:: $size;
}
