$dye_light: #FFE2D6;
$dye_lightish: #EBC4A9;
$dye_medium: #FFA55C;
$dye_darkish: #FFA068;
$dye_dark: #E88454;

$dye_black: #000;
$dye_white: #fff;

$pad: 0.5em;

$break_tablet: 640px;
$break_desktop: 980px;

$header_height: 60px;
