@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

$default_font: 'Roboto', sans-serif;
$mono_font: 'Roboto Mono', monospace;

$dye_light: #FFE2D6;
$dye_lightish: #EBC4A9;
$dye_medium: #FFA55C;
$dye_darkish: #FFA068;
$dye_dark: #E88454;

$shade_light: #f5f5f5;
$shade_lightish: #d7d7d7;
$shade_medium: #a1a1a1;
$shade_darkish: #7d7d7d;
$shade_dark: #222;
$shade_white: #fff; 
$shade_balck: 000;

$dye_black: #000;
$dye_white: #fff;

$pad: 0.5em;
$header_height: 60px;

$break_tablet: 640px;
$break_desktop: 980px;

@mixin tablet_styles {
  @media screen and (min-width: $break_tablet){
    @content
  }
}

@mixin desktop_styles {
  @media screen and (min-width: $break_desktop){
    @content
  }
}
